* {
    box-sizing: border-box;
}

.container {

    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    Height: 40px;
    width: 640px;
    font-size: 16px;
    line-height: 24px;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
}

.buttons{
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px; 
    border-radius: 2px;
    border: 1px solid var(--gray-gray-5, #D9D9D9);
    background: var(--gray-gray-1, #FFF);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
    font-size: 16px;
    line-height: 24px;
}

.button-primary{
    background: #1890ff;
    border: 1px solid #1890ff;
    color: #fff;
    margin-right: 10px;
}