* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {

    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 40px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}

.input-address {
    flex: 0.8;
    background-image: url(../img/home.svg);


}

.input-search {
    background-image: url(../img/search.svg);
    width: 300px;
    margin-left: auto;

}

.buttons {
    display: flex;
    align-items: center;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    border: 1px solid var(--gray-gray-5, #D9D9D9);
    background: var(--gray-gray-1, #FFF);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
    font-size: 16px;
    line-height: 24px;
}

.button-card-text {
    margin-right: 10px;
}

.button-primary {
    background: #1890ff;
    border: 1px solid #1890ff;
    color: #fff;
    margin-right: 10px;
}

.promo {
    filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.10));
    background: #fff1b8 url(../img/promo-image.png) no-repeat top right -200px;
    border-radius: 10px;
    padding: 40px 70px;
    margin-bottom: 56px;

}

.promo-text {
    max-width: 538px;
    color: #302C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo-title {
    color: #302C34;
    font-size: 39px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-heading {
    display: flex;
    align-items: center;

    margin-bottom: 44px;
}

.section-title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    margin-right: 20px;

}

.card {
    background: var(--gray-gray-1, #FFF);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 31%;
    text-decoration: none;

}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.card-title-reg {
    font-weight: 400;
}

.card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12;
    line-height: 20px;
    color: #FFF;
    background: #000;
    border-radius: 2px;
    padding: 1px 8px;
}

.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.card-price-bold {
    color: #000;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 160% */

}

.card-buttons {
    display: flex;
    align-items: center;
    margin-top: 24px;
}


.rating {
    margin-right: 26px;
    color: #FFC107;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;

}

.price,
.category {
    color: var(--gray-gray-7, #8C8C8C);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
}

.ingridients {
    color: var(--gray-gray-7, #8C8C8C);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.price {
    margin-right: 10px;
}

.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}

.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    border-radius: 50%;
    margin-left: 10px;

}

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%);
}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    margin-left: 35px;
    margin-right: auto;
}

.footer {
    padding: 60px 0;
}

.footer-link {
    color: var(--gray-gray-8, #595959);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    text-decoration: none;
}

.footer-link:not(:last-child) {
    margin-right: 20px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link:not(:last-child) {
    margin-right: 21px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    display: none;
}
.is-open{
    display: flex;
}
.modal-dialog {
    max-width: 780px;
    width: 95%;
    
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--gray-gray-1, #FFF);
    margin: auto;
    padding: 40px 45px;
}

.modal-title {
    margin: 0;
    color: #000;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
   
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.close {
    font-size: 36px;
    border: none;
    background-color: transparent;
}
.modal-pricetag{
    border-radius: 5px;
background: var(--gray-gray-9, #262626);
color: white;
padding: 15px 20px;
font-size: 20px;
line-height: 23px;
}
.food-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid  var(--gray-gray-5, #D9D9D9);
    margin-bottom: 15px;
}

.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;

}
.food-counter{
    display: flex;
    align-items: center;
}
.counter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 32px;
    border-radius: 2px;
    border: 1px solid var(--daybreak-blue-blue-5, #40A9FF);
    background: var(--gray-gray-1, #FFF);
    box-sizing: border-box;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #40A9FF;
}
.counter{
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
.food-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

@media(max-width: 1366) {
    .container {

        max-width: 960px;
    }

    .promo {
        background-position: center right -300px;
        background-size: 750px;
    }

    .rating {
        margin-right: 15px;
    }

    .category,
    .price {
        font-size: 14px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .promo {
        padding: 38px;
        background-size: 600px;
        background-position: top right -200px;
        background-image: none;
    }

    .promo-text {
        font-size: 31px;
        max-width: 400px;
    }

    .card {
        flex-basis: 49%;
    }

    .footer-link {
        font-size: 16px;
    }
}

@media(max-width:768px) {
    .container {
        max-width: 560px;
    }

    .card .rating {
        flex-basis: 100%;
    }

    .card-title {
        font-size: 20px;
    }

    .promo-title {
        font-size: 24px;
    }

    .promo {
        background-image: none;
    }


}

@media(max-width: 578px) {
    .container {
        width: 90%;
    }

    .header {
        flex-wrap: wrap;
    }

    .input-address {
        order: 5;
        flex: 1;
    }

    .promo {
        background-image: none;
    }

    .promo-title {
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 20px;
    }

    .card {

        flex-basis: 100%;
    }

    .card-image {
        width: 100%;
    }



}
.modal-body{
    margin-bottom: 52px;
}
.modal-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-buttons{
    display: flex;
    align-items: center;
}

@media(max-width:480px) {
    .button-text {
        display: none;
    }

    .button {
        min-height: 40px;
    }

    .promo {
        padding: 20px;
    }

    .section-heading {
        flex-wrap: wrap;
    }

    .footer-block {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footer-link:not(:last-child) {
        margin-right: 0;
    }
}